<mat-card class="stock-monitor-card">
  <div class="stock-monitor-header">
    <h3 class="stock-monitor-title">
      <mat-icon color="warn">inventory_2</mat-icon> Monitor Stok Kritis
    </h3>
    <span *ngIf="lastUpdated" class="stock-monitor-update">
      Update: {{ lastUpdated | date: 'HH:mm:ss' }}
    </span>
  </div>

  <div *ngIf="isFirstLoad" class="stock-monitor-loading">
    Memuat data stok...
  </div>

  <mat-list *ngIf="!isFirstLoad" class="stock-monitor-list">
    <mat-list-item *ngFor="let product of lowStockProducts" [routerLink]="['/catalog', product.id]" class="stock-item">
      <img matListItemAvatar [src]="product.thumbnail">
      <span matListItemTitle>{{ product.title }}</span>
      <span matListItemLine class="stock-item-brand">{{ product.brand }}</span>
      <mat-chip matListItemMeta class="stock-chip" [class.stock-zero]="product.stock === 0" [class.stock-low]="product.stock > 0">
        Stok: {{ product.stock }}
      </mat-chip>
    </mat-list-item>

    <div *ngIf="lowStockProducts.length === 0" class="stock-safe">
      <mat-icon>check_circle</mat-icon> Semua stok produk aman!
    </div>
  </mat-list>
</mat-card>
